@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    margin: 0;
}

#navbar {
    margin: 10px;
    position: fixed;
    width: 260px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: white;
}

#navbar header {
    position: sticky;
    top: 0;
    padding-top: 10px;
    background-color: white;
}

#navbar h1 {
    margin: 0;
}

.main-topic {
    font: bold 1.1rem "Times New Roman", serif;
    list-style: none;
    padding: 0;
}

.sub-topic {
    font: normal 1rem Arial, sans-serif;
    list-style: none;
    padding-left: 10px;
}

#navbar li {
    margin: 1rem 0;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#main-doc {
    margin: 0 10px;
    line-height: 1.5;
    padding-left: 270px;
}

h1 {
    font: bold 2rem "Times New Roman", serif;
}

h2 {
    font: normal 1.5rem Arial, sans-serif;
    padding-left: 10px;
}

code {
    background-color: lightgray;
    color: blue;
    line-height: 1;
    font: normal .9rem "Source Code Pro", "Courier New", monospace;
}

.block-code {
    display: block;
    margin-left: 20px;
    padding: 10px;
    overflow-x: auto;
}

figure {
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 799px) {
    #navbar {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        height: 90px;
        text-align: center;
    }

    :target:before {
        content: "";
        display: block;
        height: 90px;
        margin: -90px 0 0;
    }

    #navbar header {
        padding: 0;
    }

    .main-topic {
        margin: 0;
    }

    .sub-topic {
        padding: 0;
    }

    #navbar li {
        margin: 5px 0;
    }

    #main-doc {
        padding: 90px 0 0;
    }
}
